@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

$font-thai: "Noto Sans Thai", sans-serif;
$font-eng: "Inter", sans-serif;

$font-base--primary: $font-thai !default;
$font-base--secondary: $font-eng !default;

$font-weights: (
  1: 300,
  2: 400,
  3: 600,
  4: 700,
);

:root {
  @each $i, $weight in $font-weights {
    --ddl-font-weight-#{$i}: #{$weight};
  }
}
