$primary: #396be8;
$secondary: #5de8eb;
$gradient-1: linear-gradient(135deg, rgba($primary, 1), rgba($secondary, 1));
$gradient-2: linear-gradient(90deg, rgba($primary, 1), rgba($secondary, 1));

$scheme: (
  "primary": (
    "100": #fdffe8,
    "90": #f7fccb,
    "80": #f2f9af,
    "70": #e6f276,
    "60": #dbec3c,
    "50": #cfe503,
    "40": #9dae02,
    "30": #6b7601,
    "20": #525a01,
    "10": #393f00,
  ),
  "secondary": (
    "100": #fff3ea,
    "90": #ffe3cf,
    "80": #ffd4b4,
    "70": #ffb57e,
    "60": #ff9648,
    "50": #ff7712,
    "40": #c15a0d,
    "30": #833c08,
    "20": #642d05,
    "10": #451f03,
  ),
  "tertiary-1": (
    "100": #f3f3e6,
    "90": #e3e4d1,
    "80": #d4d4bb,
    "70": #b5b690,
    "60": #969765,
    "50": #77793a,
    "40": #61622f,
    "30": #4a4b24,
    "20": #3f401f,
    "10": #343419,
  ),
  "tertiary-2": (
    "100": #fffefe,
    "90": #fbf7f6,
    "80": #f7f1ee,
    "70": #efe3de,
    "60": #e6d6cd,
    "50": #dec8bd,
    "40": #c0a598,
    "30": #a28273,
    "20": #937160,
    "10": #845f4e,
  ),
  "red": (
    "100": #fff0ec,
    "90": #fee0d9,
    "80": #fed1c6,
    "70": #fc9982,
    "60": #fb623e,
    "50": #fa461c,
    "40": #b33214,
    "30": #6b1e0c,
    "20": #471408,
    "10": #240a04,
  ),
  "green": (
    "100": #effcf5,
    "90": #e0f8eb,
    "80": #d0f5e1,
    "70": #98e9bd,
    "60": #60dd9a,
    "50": #44d788,
    "40": #319a61,
    "30": #1d5c3a,
    "20": #133d27,
    "10": #0a1f13,
  ),
  "yellow": (
    "100": #fff9ea,
    "90": #fff4d5,
    "80": #ffeec0,
    "70": #ffda74,
    "60": #ffc527,
    "50": #ffbb01,
    "40": #b68601,
    "30": #6d5000,
    "20": #493500,
    "10": #241b00,
  ),
  "blue": (
    "100": #eff8fd,
    "90": #dff0fa,
    "80": #cfe9f8,
    "70": #8fcbee,
    "60": #309edf,
    "50": #0087d7,
    "40": #00609a,
    "30": #003a5c,
    "20": #00273d,
    "10": #00131f,
  ),
  "gray": (
    "100": #ffffff,
    "90": #fafafa,
    "80": #f4f4f4,
    "70": #e7e7e7,
    "60": #d0d0d0,
    "50": #a0a0a0,
    "40": #686868,
    "30": #464646,
    "20": #2c2c2c,
    "10": #000000,
  ),
);
