/* 
  Card starting point 
*/
.ddl-card {
  &__type1 {
    background-color: var(--primary-60);
    border-color: var(--primary-60);
    padding: 1rem;
    border-radius: 0.8rem;
  }
  &__type2{
    background-color: var(--gray-90);
    border-color: var(--gray-60);
    padding: 1rem;
    border-radius: 0.8rem;
  }
}

